#contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    textarea {
        width: 90vw;
        max-width: 1000px;
    }
    input {
        min-width: 100px;
        max-width: 90vw;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}