@import './sass/_variables.scss';
@import './sass/_mixins.scss';
.program {
    @include box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 10px;
    width: 90vw;
    max-width: 1000px;
    margin-left: 5vw;
    word-wrap: break-word;
    font-weight: 600;
    .thumbnail {
        @include box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: min-content;
        max-width: 50vw;
        padding: 10px 10px 10px 10px;
    }
    .text {
        word-break: break-all;
    }
    @media (max-width: 576px) {
        .text {
            margin-top: 20px;
            text-align: center;
        }
    }
}