// Colors
$orange: rgb(245, 132, 53);
$orange-transparent: rgba(245, 133, 53, 0.3);
$blue: rgb(13, 182, 239);
$blue-lighter: rgb(155, 216, 236);
$blue-transparent: rgba(13, 182, 239, 0.2);
// Breakpoints
$breakpoint-lg: 991px;